  body {
    background: #27406e !important;
  }

  .card {
    background: #ffffff;
    border: 1px solid #dd2476;
    color: rgba(243, 107, 209, 0.8);

  }

  .btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-text-fill-color: rgba(243, 107, 209, 0.8) !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
  }

  .btn:hover,
  .btn:focus {
    background: var(--gradient) !important;
    -webkit-text-fill-color: rgba(243, 107, 209, 0.8) !important;
    border: 5px solid #ffffff56 !important;
    box-shadow: rgba(243, 107, 209, 0.8) 1px 0 10px;
    text-decoration: underline;
  }